export_alias iav "./_build/default/interactive/interactive.exe"
export_alias bld "dune build ."
export_alias tst "dune test ."
export_alias gen "./_build/default/gen/generate.exe"

export_alias verif "./tools/verify.sh"
