# Ignore build directory
_build/

# Ignore commitlint executable
tools/commitlint*

# Ignore direnv directory
.direnv/

# Ignore generated RTL
*.v
*.vhd

# Ignore verification and bitstream artifacts
artifacts/
